# Copyright (c) 2022 Duccio Breschi
# SPDX-License-Identifier: MIT

if SHIELD_URCHIN_DONGLE

# Max 16 characters in keyboard name
config ZMK_KEYBOARD_NAME
    default "Urchin Dongle"

config ZMK_SPLIT_ROLE_CENTRAL
    default y

config ZMK_USB
    default y

endif


if SHIELD_URCHIN_LEFT || SHIELD_URCHIN_RIGHT || SHIELD_URCHIN_DONGLE 

config ZMK_SPLIT
    default y

config ZMK_BLE
    default y
    
endif
